.env
compose.yml
uploads/
fonts/
!fonts/GenShinGothic-Regular.ttf
!fonts/Roboto-Regular.ttf
!fonts/GenShinGothic-Bold.ttf
!uploads/images/d2f9e27e-aff4-4ce2-ba22-7fd1e614c4f6_thumb.png
!rss/rss.xml
credentials.json
token.json
service-account.json
rss_test.py